<!-- Header -->
<!-- Note: The "styleN" class below should match that of the banner element. -->
<header id="header" class="alt style2">
	<a href="{{ site.baseurl }}/index.html" class="logo">
	<strong>{{ site.title }}</strong> <span>{{ site.tagline }}</span></a>
	</a>
	<nav>
		<a href="#menu">Menu</a>
	</nav>
</header>
<!-- Menu -->
<nav id="menu">
	<ul class="links">
		<li><a href="{{ site.baseurl }}/index.html">Home</a></li>
		 {% for my_page in site.pages %}
			{% if my_page.showOnNavigationMenu == true %}
				<li><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
			{% endif %}
		{% endfor %}
	</ul>
	<!-- Uncomment below to include buttons in the navigation menu -->
	<!-- <ul class="actions vertical"> -->
		<!-- <li><a href="#" class="button special fit">Get Started</a></li> -->
		<!-- <li><a href="#" class="button fit">Log In</a></li> -->
	<!-- </ul> -->
</nav>