<!-- Banner -->
<!-- Note: The "styleN" class below should match that of the header element. -->
<section id="banner" class="style2">
	<div class="inner">
		<span class="image">
			<img src="images/pic07.jpg" alt="" />
		</span>
		{% for my_page in site.pages %}
			{% if my_page.showOnHomePage == true %}
		<header class="major">
			<h1>{{ my_page.title }}</h1>
		</header>
		<div class="content">
			<p>{{ my_page.tagline }}</p>
		</div>
			{% endif %}
		{% endfor %}
	</div>
</section>