---
layout: default
---
{% include blogHeader.html %}
{% include blogBanner.html %}
<!-- Main -->
<div id="main">
	{% if page.secondTitle and page.secondTagline %}
	<!-- One -->
	<section id="one">
		<div class="inner">
			<header class="major">
				<h2>{{ page.secondTitle }}</h2>
			</header>
			<p>{{ page.secondTagline }}</p>
		</div>
	</section>
	{% endif %}
	<!-- Two -->
	<section id="two" class="spotlights">
		{% for my_post in site.posts %}
		<section>
			{% if my_post.image %}
			<a href="{{ site.baseurl }}{{ my_post.url }}" class="image">
				<img src="{{ my_post.image}}" alt="" data-position="{{ my_post.imagePosition}}"/>
			</a>
			{% endif %}
			<div class="content">
				<div class="inner">
					<header class="major">
						<h3>{{ my_post.title }}</h3>
					</header>
					<p>{{ my_post.tagline }}</p>
					<ul class="actions">
						<li><a href="{{ site.baseurl }}{{ my_post.url }}" class="button">Learn more</a></li>
					</ul>
				</div>
			</div>
		</section>
		{% endfor %}
	</section>
	{% for my_page in site.pages %}
		{% if my_page.featureOnBlog == true %}
	<!-- Three -->
	<section id="{{ my_page.title }}">
		<div class="inner">
			<header class="major">
				<h2>{{ my_page.title }}</h2>
			</header>
			<p>{{ my_page.tagline }}</p>
			<ul class="actions">
				<li><a href="{{ site.baseurl}}/{{ my_page.url }}" class="button next">Learn More</a></li>
			</ul>
		</div>
	</section>
		{% endif %}
	{% endfor %}
</div>